<!DOCTYPE html>
<html>
<head>
	<title>Search for Dom Mazzetti quotes</title>
	<link href="css/bootstrap.min.css" rel="stylesheet">
	<link href="css/style.css" rel="stylesheet">
</head>
<body>

<div class="container">
<div class="row">
<div class="col-md-6">

		<div id="wrapper">
			<h2>Search for a quote by Dom Mazzetti</h2>
			<div class="tools">
				<input type="text" id="searchBox" class="form-control" placeholder="Enter quote here" /><br/>
			</div>
			<ul id="listing"></ul>
		</div>
					
		<script type="text/template" id="quote-template">
			<span class="list-header"><%= quote %> (<%= author %>)</span>
			<div class="details">
				category: <%= category %><br/>
				source: <a href="<%= source %>"><%= source %></a>
			</div>
		</script>
		<br />
		<script src="js/data.json" type="text/javascript"></script>
					
		<script src="js/libs/jquery-1.10.2.min.js" type="text/javascript"></script>
		<script src="js/libs/underscore-min.js" type="text/javascript"></script>
		<script src="js/libs/backbone-min.js" type="text/javascript"></script>
					
		<script src="js/controller/controller.js" type="text/javascript"></script>
		<script src="js/models/quote-model.js" type="text/javascript"></script>
		<script src="js/views/quote-views.js" type="text/javascript"></script>
					
		<script src="js/app.js" type="text/javascript"></script>
		
</div>
</div>
</div>	
</body>
</html>